/* Custom Fonts */

@font-face {
  font-family: "Young Serif Regular";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit Regular";
  src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit SemiBold";
  src: url(./assets/fonts/outfit/static/Outfit-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit Bold";
  src: url(./assets/fonts/outfit/static/Outfit-Bold.ttf) format("truetype");
}

/* Custom Colors */

:root {
  /* Rose */

  --rose-800: #7a284e;
  --rose-50: #fff7fb;

  /* Stone */

  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #e3ddd7;
  /* Brown */

  --brown-800: #854632;

  /* White */

  --white: #ffffff;
}

/* Text Utility Classes */

.text-preset-1 {
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  font-family: "Young Serif Regular", serif;
}

.text-preset-2 {
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
  font-family: "Young Serif Regular", serif;
  color: var(--brown-800);
}

.text-preset-3 {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  font-family: "Outfit Semibold", serif;
}

.text-preset-4 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Outfit Regular", serif;
}

.text-preset-5 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Outfit Bold", serif;
}

/* Element Spacing */

.mb-32 {
  margin-bottom: 32px;
}

/* Page wrapper */
.wrapper {
  padding: 64px 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--stone-100);
  min-height: 250vh;
}

.recipe-card {
  /* margin-top: 150px; */
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

main {
  padding: 40px 32px;
}

section:not(:last-of-type) {
  margin-bottom: 32px;
}

/* Heading section */
/* header img {
  border-radius: 12px;
} */
.page-heading {
  color: var(--stone-900);
  margin-bottom: 24px;
}

.recipe-description {
  color: var(--stone-600);
}
/* Preparation section */

.preparation-section {
  padding: 24px;
  border-radius: 12px;
  background-color: var(--rose-50);
  color: var(--stone-600);
}

.preparation-title {
  margin-bottom: 16px;
  color: var(--rose-800);
}

.preparation-list {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.preparation-list-item {
  position: relative;
  margin-left: 20px;
}

.preparation-list-item::before {
  content: "•";
  color: var(--brown-800);
  font-size: 1.8em;
  position: absolute;
  left: -30px;
}

.preparation-list-item:not(:last-of-type) {
  margin-bottom: 8px;
}

/* Ingredients section */

.ingredients-title {
  margin-bottom: 24px;
  color: var(--brown-800);
}

.ingredients-list {
  list-style: none;
  list-style-position: inside;
  color: var(--stone-600);
}

.ingredients-list-item {
  position: relative;
  margin-left: 20px;
}

.ingredients-list-item::before {
  content: "•";
  color: var(--brown-800);
  font-size: 1.8em;
  position: absolute;
  left: -30px;
}

.ingredients-list-item:not(:last-of-type) {
  margin-bottom: 8px;
}

/* Instructions section */

.instructions-list {
  color: var(--stone-600);
  list-style-position: outside;
}

.instructions-list-item::marker {
  color: var(--brown-800);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Outfit Bold", serif;
}

.instructions-list-item {
  padding-left: 16px;
}

/* Nutrition section */

.nutrition-table {
  width: 100%;
  padding: 0 32px;
  /* border-collapse: collapse; */
  border-spacing: 0 10px;
}

.nutrition-table-data {
  text-align: left;
  /* padding-left: 25px; */
  color: var(--stone-600);
}

.nutrition-table-description {
  margin: 24px 0;
  color: var(--stone-600);
}

.nutrition-table-data:nth-child(even) {
  margin-left: 16px;
  color: var(--brown-800);
}

/* Page footer */

.page-footer {
  margin-top: 100px;
  text-align: center;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  font-family: "Outfit Regular", serif;
}

/* Hr line */

.styled-line {
  border: 1px solid var(--stone-150);
  margin-top: 0;
  /* width: 95%; */
}

@media (min-width: 768px) {
  .wrapper > * {
    max-width: 770px;
    margin: 0 auto;
  }
}
